[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest-cov = "*"

[packages]
twisted = "*"
scapy = "*"
pytest = "*"
klein = "*"
treq = "*"
attrs = "*"
structlog = "*"

[requires]
python_version = "3.12"
