on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    runs-on: "ubuntu-20.04"
    container:
      image: "python:2.7.18-buster"
    steps:
      - uses: "actions/checkout@v4"
#     - uses: "actions/setup-python@v5"
#       with:
#         cache: "pipenv"
      - run: "python -m pip install pipenv"
      - run: "pipenv install --dev"
      - run: "make test"
